.card {
  border-radius: 1em;
  text-align: center;
  padding: 1em;
}

.card img {
  border-radius: 50%;
  width: 60%;
  margin: auto;
}
body {
  background: url("/photo/error-5100.jpg") 0px;
  background-size: 100%;
  background-image: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #e9e6e6;
}

.text {
  text-align: center;
}
h4 {
  background-color: beige;
  font-size: 160%;
}
